<li>
    {{burger_name}}

    <button type="button" class="btn btn-outline-warning change-devoured" data-id="{{id}}"
        data-consumed="{{devoured}}">DEVOUR ME</button>

</li>

{{!-- <button class="change-devoured" data-id="{{id}}" data-consumed="{{devoured}}"></button> --}}